.app {
    background-color: #f1f2f5;
    height: 100vh;            
}

.app__body {
    display: flex; 
    /* 48px is height of header */
    /* 30px is header padding */
    height: calc(100% - 48px - calc(15px * 2));  
}